/* student.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin: 0;
    padding: 0;
}

/* Container for the form */
.registration-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px 3px rgb(43, 50, 87);
    border-radius: 20px;
    /* background: #614385;  
    background: -webkit-linear-gradient(to bottom, #516395, #614385);  
    background: linear-gradient(to bottom, #516395, #614385);  */
    background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}

h1 {
    text-align: center;
    
}

/* Styling for form groups (labels and inputs) */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #1f3d20;
}

/* Placeholder styling */
input::placeholder {
    color: #888;
}

/* Focus styling */
input:focus, select:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Responsiveness */
@media (max-width: 600px) {
    .registration-container {
        width: 100%;
        padding: 15px;
    }
}